
body{
 padding-top: 20px;
  font-family:'poppins',sans-serif;
  
}
.App{
  min-width: 100vh;

}
.movie_list{
  display:flex;
  gap:24px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box{
 
  width: 350px;
border-radius: 5px;
 
}

.movie_image{
  height:500px;
  width:350px;
 object-fit: cover;
  
 
}
.movie_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.content{
  padding: 5px;
}
.movie_summary{
  text-align:none;
}
.like_dislike{
  font-size: 20px !important;
  
}
/* button{
  padding: 5px;
  font-size: 30px;
} */
.movie_name{
  font-weight:bolder;
  font-size: 30px;
  margin:0px;
 
 
}
.movie_rating{
  font-weight: bold;
  font-size: 20px;
}
.input_field{
  display: flex;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  flex-direction: column;
  gap:30px;
  margin:20px;
  padding:20px 60px;
}
/* .input_text{
  width: 300px;
} */
/* Button{
  height:50px;
 
} */
.hide_show_btn{
  font-size: 40px !important;
 
  margin:0px;
}

.not-found{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  
}
.movie-trailer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  
  object-fit: cover;
}
.display-content{
  width:50%;
  padding:0px 100px !important;

}
.counter-button{
  display: flex;
  justify-content: space-between;

}
.square {
  height: 100px;
  width: 100px;
  background-color:#123;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid white;
  /* color:white; */
  cursor: pointer;
  box-shadow:5px 5px 5px 5px rgb(248, 212, 157);

}


.board{
  /* width:1000px; */
  /* width:min-content; */
  margin:100px auto;
  display: grid;
 

  grid-template-columns:1fr 1fr 1fr;
  /* grid-template-rows:1fr 1fr 1fr; */



}
.ttt-game{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;
  /* background-color: rgb(248, 212, 157); */
  height:100vh;
  color:#123;
}
.start-player{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:20px;

}

